
@font-face {
    font-family: "IntuitiveRegular";
    src: url('/Intuitive-regular.ttf');
}

#app {
  font-family: 'IntuitiveRegular', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.site-name {
  text-decoration: none;
}

.home-link {
  text-decoration: none;
}

.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
}

.dropdown-title {
  font-size: 1.1rem;
  text-decoration: none;
}

.home-link .site-name {
  color: #411;
  font-size: 1.5rem;
}

.home .footer {
  color: #988;
}

.home .hero .action-button {
  background-color: #955;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px solid #955;
}

.home .hero .action-button:hover {
  background-color: #a55;
  border-bottom: 1px solid #a55;
}

.home .hero .description {
  color: #766;
  font-size: 1.7rem;
}

.about-page {
  font-size: 1.3rem;
}

strong {
  color: #733;
  font-size: 1.3rem;
}

a {
  text-decoration: underline;
}