<template lang='pug'>

#MainDiv
  #MyFirstSlideshow
    .eg-slideshow()

      slide(leave='bounceOutDown' :mouseNavigation='false')
        img.className#IdName(src="/logo.svg" alt="Hello JAMstack" class="logo")
        p You can use your keyboard arrow left and right to navigate or use the arrow buttons towards the bottom of the slide.

      slide(enter='bounceInRight' leave='bounceOutDown')
        .h2-block
          b Hello
          img.image(src="/j.svg" alt="J" class="jamletter")
          img.image(src="/a.svg" alt="A" class="jamletter")
          img.image(src="/m.svg" alt="M" class="jamletter")
          b stack
        h3 A reference implementation of a JAMstack architecture using VuePress &amp; IaaS

      slide(:steps=3 enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        h1 Big deal
        h2 another tech stack, why do I care?
        p(v-if="step >= 2") you care becuase this isn't about tech, it's about people in a high velocity process and <em>saving you money</em>
        p(v-if="step >= 3")  sorry, but we gotta talk a little tech and explain JAM...

      slide(enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        img.className#IdName(src="/j.svg" alt="J" class="jamletter")
        h2 Javascript
        p Through the Javascript-based static site generator, VuePress, we get the "J" in JAMstack. All of the User Interface (UI) is coded in Javascript and run in the Web browser. It used to be we needed a big, expensive server side programming team. It used to be we needed a big, complicated server farm to code and serve the UI.
        p We can <em>totally avoid this expense</em> because it all moved to the browser and Javascript.

      slide(enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        img.className#IdName(src="/a.svg" alt="A" class="jamletter")
        h2 API 
        p Through our use of online APIs we get the "A" in JAMstack. We have an online, network-based Application Programming Interface (API) that allows us to easily get the dynamic data from databases, messaging systems, secret places, or pretty much anything else. Remember that server team that used to have to code a lot of the UI? They are now focused entirely on the data now.
        p We are <em>spending our money well</em> with this new backend focus on presenting just the data that eventually gets used in the UIs. Their life before was just too overloaded.

      slide(enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        img.className#IdName(src="/m.svg" alt="M" class="jamletter")
        h2 Markup
        p Through VuePress' support of Markdown we get the "M" in JAMstack. The web pages that you see are not laboriously coded in a complicated, expensive way. The web pages that you see are prebuilt from easy to understand, human-readable content.
        p This means that your team doesn't have to be all extreme tech people. This means that your site <em>can be easily and inexpensively served at global scale</em>.

      slide(enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        img.className#IdName(src="/logo.svg" alt="Hello JAMstack" class="logo")
        .h2-block
          b Hello
          img.image(src="/j.svg" alt="J" class="jamletter")
          img.image(src="/a.svg" alt="A" class="jamletter")
          img.image(src="/m.svg" alt="M" class="jamletter")
          b stack
        h4 a starter system for creating an API-driven, digital experience team capable of global scale.
          
      slide(steps=5 enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false')
        h2 Big deal
        h4 You're still talking about tech. Why do I care?
        h4(v-if="step >= 2") <em>You care because...</em>
        p(v-if="step >= 3") This changes how you team
        p(v-if="step >= 4") This changes how you deliver
        p(v-if="step >= 5") This changes how you spend money

      slide(enter='bounceInRight' leave='bounceOutDown' :mouseNavigation='false' :keyboardNavigation='false')
        img.className#IdName(src="/logo.svg" alt="Hello JAMstack" class="logo")
        p More soon

      .button.prev(@click.stop='previousStep' v-if="currentSlideIndex > 1")
        span ←
      .button.next(@click.stop='nextStep' v-if="currentSlideIndex < slides.length")
        span →
      .button.exit(v-on:click='seeSecret' v-if="currentSlideIndex == slides.length")
        span It's Alive!
        
</template>

<script>
import Vue from 'vue'
import eagle from 'eagle.js'
import { Slide } from 'eagle.js'
import 'animate.css'

Vue.use(eagle);
Vue.component('slide', Slide);

export default {
  mixins: [ eagle.slideshow ],
  infos: {
    // These infos appear on the home page, below the slideshow's thumbnail
    title: 'Your First Slideshow',
    description: 'A boilerplate to get you started',
    path: 'your-first-slideshow'
  },
  methods: {
    seeSecret: function() {
      window.location.href='/seesecret.html'
    }
  },
  mounted() {
  }
}
</script>

<style lang='scss'>
#MyFirstSlideshow{
  .eg-slideshow{
    padding: 15%;
    border-radius: 15px;
    border: solid 1px #ddd;
    background-color: #fff9f9;
    .eg-slide{
      .eg-slide-content{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        .logo{
          width:30%;
        }
        .jamletter{
          width:15%;
        }
        h1{
          font-size: 3.2rem;
        }
        h2{
          font-size: 2.1rem;
        }
        h3{
          font-size: 1.7rem;
        }
        h4{
          font-size: 1.5rem;
        }
        p{
          font-size: 1.3rem;
        }
        em {
          color: #733;
          font-size: 1.7rem;
        }
      }
    }
  }
  .eg-slide-content{
    width: 100%;
    margin: 0 auto;
  }
}

.button {
  font-family: 'IntuitiveRegular', 'Avenir', Helvetica, Arial, sans-serif;
  color: #a99;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff9f9;
  font-weight: bold;
  font-size: 1.1rem;
  border: 1px solid #fee;
  cursor: pointer;
  font-size: 2.1rem;
}   

.button.prev {
  float: left;
}

.button.next {
  float: right;
}

.button.exit {
  float: right;
  font-size: 1.7rem;
  padding: 15px;
  background-color: #733;
  color: #eee;
}

</style>