<template>
  <div class="psst">
    <div v-if="loggedIn" class="card">
      <div v-if="message">
        Hi {{userName}}. {{message}}
        <br/>
        <button v-on:click="logout">Sign out</button>
      </div>
      <div v-else class="spincontainer">
        Loading
        <br/>
        <br/>
        <img src="/spinner.gif" class="spinner" />
      </div>
    </div>
    <div v-else class="card">
      <p>You must be signed in to see our API in action.</p>
      <p>If you would like an ID to sign in, please email <a href="mailto:btwebb@gmail.com?subject=Hello JAMstack new ID request">support</a></p>
      <button v-on:click="login">Sign in</button>
    </div>
  </div>
</template>

<script>

export default {
  name: 'SeeSecret',
  data () {
    return {
      userName: '',
      message: '',
      loggedIn: '',
    }
  },
  methods: {
    fetchSecretMessage: function () {
      this.$auth.acquireToken().then((token) => {
        this.$api.fetchSecretMessage(token).then((message) => {
          this.message = message;
        });
      }); 
    },
    login: function () {
      this.$auth.signIn()
    },
    logout: function () {
      this.$auth.signOut()
    }
  },
  mounted() {
    this.$auth.initialize().then((user) => {
      this.userName = this.$auth.getName()
      this.loggedIn = this.$auth.isAuthenticated()
      this.fetchSecretMessage();
    });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.psst {
  width: 95%;
}

h1, h2 {
  font-weight: normal;
}

.card {
  padding: 20px;
  font-size: 1.3rem;
  width: 80%;
  border: solid 2px #ccc;
  border-radius: 7px;
}


button {
  font-family: 'IntuitiveRegular', 'Avenir', Helvetica, Arial, sans-serif;
  color: white;
  padding: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: #955;
  font-weight: bold;
  font-size: 1.1rem;
  border-bottom: 1px solid #955;
}

button:hover {
  background-color: #a55;
  border-bottom: 1px solid #a55;
}

.message {
  margin-top: 0.7rem;
}

.spincontainer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
}

.spinner {
  height: 125px;
  opacity: 0.5;
  text-align: center;
}

</style>
